<style>
.stat {
  font-size: 48px;
  font-weight: bold;
  float:left;
  line-height: 45px;
  margin-top: 18px;
  width: 170px;
  text-align: center;
}
.stat-text {
  font-size: 28px;
  line-height: 0px;
}
.stat-icon {
  width: 150px;
  margin-left: 10px;
}
</style>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <%= render partial: "/visualizations/stats/default_stat", locals: {
      stat_number: @bikes_count,
      stat_text: "bikes",
      stat_icon: "icon-bikes.png",
    } %>
  </div>
  <div class="col-md-4">
    <%= render partial: "/visualizations/stats/default_stat", locals: {
      stat_number: @stations_count,
      stat_text: "stations",
      stat_icon: "icon-stations.png",
    } %>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <%= render partial: "/visualizations/stats/default_stat", locals: {
      stat_number: number_with_delimiter(@trips_count),
      stat_text: "trips",
      stat_icon: "icon-trips.png",
    } %>
  </div>
  <div class="col-md-4">
    <%= render partial: "/visualizations/stats/default_stat", locals: {
      stat_number: "<span style='font-size: 50px;'>no. #{@most_used_bike}</span>".html_safe,
      stat_text: "<span class='small'>most used bike</span>".html_safe,
      stat_icon: "icon-most-used.png",
    } %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <%= render partial: "/visualizations/stats/default_stat", locals: {
      stat_number: "#{@average_travel_time.to_i} min",
      stat_text: "<span style='font-size: 20px'>average ride time</span>".html_safe,
      stat_icon: "icon-avg-time.png",
    } %>
  </div>
  <div class="col-md-4">
    <%= render partial: "/visualizations/stats/default_stat", locals: {
      stat_number: "<span #{@longest_trip.to_i.to_s.length > 3 ? "style='font-size: 32px'" : ""}>#{number_with_delimiter(@longest_trip.to_i)} min</span>".html_safe,
      stat_text: "<span style='font-size: 20px'>longest ride time</span>".html_safe,
      stat_icon: "icon-longest-time.png",
    } %>
  </div>
</div>
<hr>