<!DOCTYPE html>
<html>
<head>
  <title>Bikeshare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function() {
      $('select[id="city"]').selectpicker({
        style: 'btn-primary',
        menuStyle: 'dropdown-inverse'
      });
    });
  </script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bay Area Bike Share Insights</a>
      </div>
    </div>
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>OPEN DATA CHALLENGE</h1>
      <p>
        This site was built for the <%= link_to("BABS open data challenge", "http://www.bayareabikeshare.com/datachallenge", target: "blank") %>.
        The data provided was in the form of CSV files and included information from 8/29/13 to 2/28/14 about
        trips, stations, bike and dock availability, and weather.
      </p>
      <p>
        The purpose of the challange is to show some insigths using the data provided so we tried to
        show different types of visualizations and stats using the most data as possible.
      </p>
      <p>
        The technologies used to build the site are Rails 4, Heroku, Amazon RDS (MySQL)
        and <%= link_to("D3 for the visualizations", "http://d3js.org/", target: "blank") %>.
        You can find the source code in <%= link_to("my personal github", "https://github.com/marcferna/bikeshare", target: "blank") %>.
        Special thanx to <%= link_to("Mark Bult", "https://dribbble.com/markbult", target: "blank") %> for his icon designs!
      </p>
      <div class="row">
        <div class="col-md-4">
          Choose a city:
          <%= form_tag("/", method: "post") do %>
            <%=
              select_tag :city,
                options_for_select(Station.cities + ["All cities"], @selected_city),
                onchange: "$(this).parent('form').submit();",
                class: "select-block",
                style: "display: none"
            %>
          <% end %>
      </div>
      </div>

    </div>
  </div>

  <div class="container">
    <%= yield %>
    <footer>
    </footer>
  </div> <!-- /container -->
</body>
</html>
